<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_azfxGWnfb5Qhi3hO8PoAELzezXMzxsM</string>
	<key>GCM_SENDER_ID</key>
	<string>297290592347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificacionestutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notificationtutorial-4d348</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationtutorial-4d348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297290592347:ios:4634e097de0a4d09708f7e</string>
</dict>
</plist>